streamlit>=1.28,<2.0
pydeck>=0.8.1,<1.0
pandas>=2.0,<3.0
numpy>=1.23,<3.0
pyarrow>=12,<16
geopandas>=0.14,<1.0
shapely>=2.0,<3.0
pyproj>=3.5,<4.0
fiona>=1.9,<2.0
folium>=0.15,<1.0
branca>=0.7,<0.8
streamlit-folium>=0.18,<0.19
plotly>=5.18,<6.0
